<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2025 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:exported="true">

    <application>
        <!-- Note screenOrientation="portrait" is ignored on Android 16 (API 36) on formfactors
             with smallest width >= 600dp. Since this doesn't include most phones it will be
             honored there and PresentmentActivity will show in portrait, as expected. We handle
             bigger screens too, including foldables, by e.g. restricting card height to one
             third of the screen size, see PresentmentActivity.kt for details.

             See https://developer.android.com/develop/ui/compose/layouts/adaptive for more info.
         -->
        <activity
            android:name=".prompt.PresentmentActivity"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mnc|colorMode|density|fontScale|fontWeightAdjustment|keyboard|layoutDirection|locale|mcc|navigation|smallestScreenSize|touchscreen|uiMode"
            android:theme="@style/NavigationActivityTheme"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi">
        </activity>
    </application>

</manifest>
